@model IEnumerable<Agencia.Models.CadastroDestino>

@{
    ViewData["Title"] = "Index";
}

<h3>Novos Destinos</h3>

<p>
    <a asp-action="Create">Criar Destino</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome_Destino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lugar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome_Destino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lugar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDestino">Editar</a> 
                <a asp-action="Details" asp-route-id="@item.IdDestino">Detalhes</a> 
                <a asp-action="Delete" asp-route-id="@item.IdDestino">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
